# This file contains the configuration used in the flyway container and is bind-mounted by
# dockerCompose/compose.unsecured.yaml (which dockerCompose/compose.secured.yaml includes)

# uses the postgres port, db name, username, and password found in dockerCompose/compose.unsecured.yaml
flyway.url=jdbc:postgresql://db:5432/pensieve-db
flyway.user=postgres
flyway.password=root
# allows migration on empty databases https://documentation.red-gate.com/fd/baseline-on-migrate-224919695.html
flyway.baselineOnMigrate=false