# This file contains the configuration used in the flyway container
# and is referenced in the compose.yaml file

# uses the postgres port, db name, username, and password found in the compose.yaml file
flyway.url=jdbc:postgresql://db:5432/pensive-db
flyway.user=postgres
flyway.password=root
# allows migration on empty databases https://documentation.red-gate.com/fd/baseline-on-migrate-224919695.html
flyway.baselineOnMigrate=false